#/etc/systemd/system/force.service
[Unit]
Description=Gunicorn instance to serve force ledger
After=network.target

[Service]
User=root
Group=www-data
EnvironmentFile=/etc/environment
WorkingDirectory=/root/force
Environment="PATH=/root/force/bin"
ExecStart=/root/force/bin/gunicorn --workers 3 --bind unix:force.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target